*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: rocky;
    src: url("../assets/fonts/rocky.ttf");
}

main{
padding-top: 100px;
}

/* Títulos */
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.875rem;
    color: black;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    font-weight: 100;
}
h2{
    font-size: 1.25rem;
}
h3{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}
h4{
    color: white;
    font-family: rocky;
    font-size: 5.3125rem;
    text-shadow: -5px 5px 0px darkred;
}
h5{
    color: white;
    padding-top: 25px;
    font-size: 2.5rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h6{
    color: orange;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.25rem;
}
/* ........................................................................................................... */

body{
    background-color: white;
}
.tiendaCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.album-cover{
    width: 7%;
    height: 7%;
}
.contenido-tienda{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.botonCarrito{
    padding: 5px 40px 5px 40px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition-duration: 0.2s;
}

.botonCarrito:hover{
    background-color: orange;
}

.vaciar-btn{
    padding: 5px 30px 5px 30px;
    background-color: red;
    color: white;
    cursor: pointer;
    transition-duration: 0.1s;
}

.vaciar-btn:hover{
    background-color: orange;
    color: white;
}

.precio{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5625rem;
}

.carrito-contenedor{
    width: 30%;
    max-height: 75%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    top: 25px;
    gap: .625rem;
    border-radius: .9375rem;
    margin-left: 60%;
    margin-top: 24.375rem;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
    
}

.carrito-contenido{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 95%;
}

.eliminar-producto {
    max-width: 1.0625rem;
    max-height: 1.0625rem;
    cursor: pointer; 
}

.carrito-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: orange;
    padding-left: 5%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-top-right-radius:10px;
    border-top-left-radius: 10px;
}

.carrito-header-titulo{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: white;
}

.x-carrito{
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifa;
    color: white;
    font-size: 20px;
    font-weight:bold;
}

.nombre-album {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.125rem;
    text-align: justify;
    width: 35%;
}

.precio-album{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: justify;
    font-size: .9375rem;
}

.total-contenido{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: .9375rem;
}

.toastify{
    font-family: Arial, Helvetica, sans-serif;
}

.carrito-texto{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: .625rem;
}



footer{
    background-color: #fecb00;
    width: 100%;
    height: 150px;
}

.artista{
    font-family: 'Courier New', Courier, monospace;
    font-size: .9375rem;
    color: black;
}
.productImg{
    width: 18.75rem;
}

/* HEADER */
header{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    max-height: 100px;
    margin-bottom: 100px;
    z-index: 100;
}
.navbar{
    display: flex;
    margin-right: 15%;
    margin-top: 40px;
}
.navbar-buttons li a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
nav>ul>li>a:hover,
nav>ul>li>a.active{
    color: #fabc13;
}
.navbar-buttons{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    gap: 1.875rem;
    margin-right: 50px;
    font-size: 1.25rem;
    background-color: white;
    padding-top: 30px;
}
.logo{
    display: flex;
}
.logo>img{
    margin-top: 10px;
    max-height: 80px;
    margin-left: 50px;
}
.carritoImg>img{
    width: 3.125rem;
    cursor: pointer;
}
.contador-carrito{
    display: flex;
    font-size: 15px;
    text-align: center;
    color: white;
    background-color: red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: fixed;
    margin-top: -65px;
    margin-left: 45px;

}
/* ....................................................................................... */

/* INICIO */
.tequenos-main{
    display: flex;
    background-color:#fabc13;
    flex-direction: column;
    align-items: baseline;
    min-height: 76vh;
    padding-top: 90px;
}

.contenedor-button{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tequenos-main>section>div>button{
    font-weight: bold;
    background-color: white;
    width: 150px;
    height: 50px;
    border: none;
}
.contenedor-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 76vh;
}

.tequenos-imagen{
    width: 500px;
}

.descubre-sabor{
    width: 37.5rem;
    height: 25rem;
}
.tequenos-historia{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}
.fondo-queso{
    width: 100%;
    min-height: 60px;
    background-image: url(../assets/img/fondo-amarillo.png);
    background-repeat: repeat;
    background-size: 10%;
}
/* ............................................................. */

/* HISTORIA */
.tequenos-historia{
    min-height: 100vh;
    padding-top: 120px;
}
.tequeños-imagen-historia{
    width: 300px;
    height: 300px;
}
.historia-texto{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    font-size: 1.375rem;
    text-align: justify;
}
.contenedor-tequenos{
    display: flex;
    flex-direction: column;
}
/* ................................................ */


/* SABOR */
.tequenos-sabor{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #fabc13;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 100vh;
    padding-top: 120px;
}

.sabor-texto{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 600px;
    font-size: 1.375rem;
    text-align: justify;
}
.tequeños-imagen-sabor{
    margin-top: 3.125rem;
    width: 500px;
    height: 100%;
    border: #fcd873;
    border-style: solid;
    border-width: 13px;
    border-radius: 10px;
}
/* ............................... */

/* VARIEDADES */
.variedades{
    display: flex;
    flex-direction: column;
    background-color: red;
    gap: 1.5625rem;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
    min-height: 100vh;
    padding-top: 120px;
}
.variedades>div{
    display: flex;
    flex-direction: row;
    background-color: red;
    gap: 3.125rem;
    padding-bottom: 30px;
    justify-content: space-between;
}
.variedades>div>img{
    border: #fcd873;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
}
/* .................................... */

/* NOSOTROS */
.nosotros{
    background-image: url(../assets/img/Nosotros-fondo.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1.5625rem;
    min-height: 100vh;
    padding-top: 120px;
}
.nosotros>iframe{
    margin-top: 50px;
    margin-bottom: 100px;
    
}
/* .................... */

/* Clientes */
.clientes{
    background-image: url(../assets/img/clientes-bg.jpg);
    padding-left: 10%;
    background-size: cover;
    min-height: 100vh;
    padding-top: 120px;
}

.rating{
    width: 150px;
    margin-bottom: 15px
}
.clientes-descripcion{
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9375rem;
    text-align: center;
}
.clientes-img{
    width: 200px;
    border: black;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    position: relative;
    bottom: 100px;
}
.contenidoClientes{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}
.cardClientes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #fabc13;
    padding: 0 20px 0px 20px;
    border-radius: 2.5rem;
    margin-top: 50px;
}
.titulo-clientes{
    margin-top: -80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5625rem;
    font-weight: bold;
}
.card-clientes{
    margin-top: 9.375rem;
}
/* ............................... */

/* CONTACTO */
.contacto{
    background-color:#fabc13;
    padding-left: 10%;
    min-height: 100vh;
    padding-top: 120px;
}
