*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: rocky;
    src: url("../assets/fonts/rocky.ttf");
}

main{
    padding-top: 9.375rem;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.875rem;
    color: black;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    font-weight: 100;
}
h2{
    font-size: 1.25rem;
}
h3{
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 3px;
}
h4{
    color: white;
    font-family: rocky;
    font-size: 5.3125rem;
    text-shadow: -5px 5px 0px darkred;
}
h5{
    color: white;
    padding-top: 25px;
    font-size: 2.5rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h6{
    color: orange;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.25rem;
}
.comision{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9375rem;
    text-align: center;
    margin-top: 30px;
}
body{
    background-color: white;
}

.logo{
    display: flex;
}
.logo>img{
    width: 9.375rem;
    margin-left: 50px;
}

.tiendaCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.album-cover{
    width: 7%;
    height: 7%;
}
.contenido-tienda{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.botonCarrito{
    padding: 5px 40px 5px 40px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition-duration: 0.2s;
}

.botonCarrito:hover{
    background-color: orange;
}

.vaciar-btn{
    padding: 5px 30px 5px 30px;
    background-color: red;
    color: white;
    cursor: pointer;
    transition-duration: 0.1s;
}

.vaciar-btn:hover{
    background-color: orange;
    color: white;
}


.navbar{
    display: flex;
    margin-right: 15%;
    padding-top: 70px;

}

.precio{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5625rem;
}

.carrito-contenedor{
    width: 30%;
    max-height: 75%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    top: 25px;
    gap: .625rem;
    border-radius: .9375rem;
    margin-left: 60%;
    margin-top: 24.375rem;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
    
}

.carrito-contenido{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 95%;
}

.eliminar-producto {
    max-width: 1.0625rem;
    max-height: 1.0625rem;
    cursor: pointer; 
}

.carrito-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: orange;
    padding-left: 5%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-top-right-radius:10px;
    border-top-left-radius: 10px;
}

.carrito-header-titulo{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: white;
}

.x-carrito{
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifa;
    color: white;
    font-size: 20px;
    font-weight:bold;
}

.nombre-album {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.125rem;
    text-align: justify;
    width: 35%;
}

.precio-album{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: justify;
    font-size: .9375rem;
}

.total-contenido{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: .9375rem;
}

.toastify{
    font-family: Arial, Helvetica, sans-serif;
}

.carrito-texto{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: .625rem;
}

.contador-carrito{
    display: flex;
    font-size: 15px;
    text-align: center;
    color: white;
    background-color: red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: fixed;
}

footer{
    background-color: #fecb00;
    width: 100%;
    height: 150px;
}

.artista{
    font-family: 'Courier New', Courier, monospace;
    font-size: .9375rem;
    color: black;
}
.productImg{
    width: 18.75rem;
}

.carritoImg>img{
    width: 3.125rem;
    cursor: pointer;
}

.navbar-buttons{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    gap: 1.875rem;
    margin-right: 50px;
    font-size: 1.25rem;
    background-color: white;
    padding-top: 30px;

}
.navbar-buttons li a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
}
.tequenos-main{
    display: flex;
    background-color:#fabc13;
    flex-direction: row;
    justify-content: space-evenly;
}

.tequenos-imagen{
    width: 500px;
}

.descubre-sabor{
    margin-top: 50px;
    width: 37.5rem;
    height: 25rem;
}
.tequenos-historia{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}

.tequeños-imagen-historia{
    width: 300px;
    height: 300px;

}

.historia-texto{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    font-size: 1.375rem;
    text-align: justify;
}


.contenedor-tequenos{
    display: flex;
    flex-direction: column;
}
.tequenos-sabor{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #fabc13;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sabor-texto{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    font-size: 1.375rem;
    text-align: justify;
}
.variedades{
    display: flex;
    flex-direction: column;
    background-color: red;
    gap: 1.5625rem;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
}
.variedades>div{
    display: flex;
    flex-direction: row;
    background-color: red;
    gap: 3.125rem;
    padding-bottom: 30px;
    justify-content: space-between;
}
.variedades>div>img{
    border: #fcd873;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
}

.tequeños-imagen-sabor{
    margin-top: 3.125rem;
    width: 500px;
    height: 100%;
    border: #fcd873;
    border-style: solid;
    border-width: 13px;
    border-radius: 10px;
}
.fondo-queso{
    width: 100%;
    height: 120px;
    background-image: url(../assets/img/fondo-amarillo.png);
    background-repeat: repeat;
}

.nosotros{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1.5625rem;
}
.nosotros>iframe{
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.clientes{
    background-color: orange;
    padding-left: 10%;
}

.contacto{
    background-color:#fabc13;
    padding-left: 10%;
}